{% extends "outer.html" %}

{% block content %}
    <h1>{% block title %}Reset Password{% endblock %}</h1>

    {% if validlink %}

        <p>Please enter your new password twice.</p>

        <div class="form-container">
            <p><span class="required"></span> denotes a required field.</p>

            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }} <span class="required"> </span>
                    {% for error in field.errors %}
                        <div class="field-error">{{ error }}</div>
                    {% endfor %}
                    {{ field }}
                {% endfor %}
                <button type="submit">Submit</button>
            </form>
        </div>

    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    {% endif %}

{% endblock %}
