{% extends "outer.html" %}

{% block title %}The Massassi Temple: #1 Source For Everything Jedi Knight{% endblock %}

{% block content %}
    {% if holiday_logo %}
        <div id="logo"><img src="{{ holiday_logo.logo.url }}" alt="Holiday Logo" title="Logo by {{ holiday_logo.author }}!"></div>
    {% else %}
        <div id="logo"><img src="/static/images/logo1.jpg" height="154" width="384" alt="Massassi Logo" title="Logo By Ewok!"></div>
    {% endif %}

    <div id="features-grid">
        <div id="feature-recent-levels">
            <div class="feature-title">Recent Levels</div>
            <div class="feature-content">
                {% if recent_levels %}
                    {% for level in recent_levels %}
                        {{ level.created_at|date:"Y-m-d" }}
                        <a href="{% url 'levels:level' level.pk %}">{{ level.name|truncatechars:34 }}</a><br>
                    {% endfor %}
                {% else %}
                    No recent levels in the database.
                {% endif %}
            </div>
        </div>

        <div id="feature-in-house">
            <div class="feature-title">In-House</div>
            <div class="feature-content">
                <ul>
                    <li><a href="/domlp/">Death of Massassi Level Pack</a><br>
                    <li>Massassi MP Packs: <a href="/levelpack/">1</a>, <a href="/mlp2/">2</a>, <a href="/mlp3/">3</a>,
                        <a href="/mlp4/">4</a>, <a href="/mlp5/">5</a>, <a href="/mlp6/">6</a></li>
                    <li>Massassi <a href="/ctfpack/">Capture The Flag Pack</a></li>
                    <li><a href="/jkarena/">Jedi Knight Arena Level Pack</a></li>
                    <li>SP Contest Winners: <a href="/levels/files/2999.shtml">1</a>, <a
                            href="/levels/files/3105.shtml">2</a></li>
                    <li><a href="/holiday/" class="holiday">
                            <span style="color:red">H</span>
                            <span style="color:green">o</span>
                            <span style="color:red">l</span>
                            <span style="color:green">i</span>
                            <span style="color:red">d</span>
                            <span style="color:green">a</span>
                            <span style="color:red">y</span> Logo Contest</a></li>
                </ul>
            </div>
        </div>

        <div id="feature-hosted-sites">
            <div class="feature-title">Hosted Sites</div>
            <div class="feature-content">
                <a href="http://tacc.massassi.net/">Admiral's Command Chamber</a><br>
                <a href="/jkarena/">JK Arena</a>: MP Modification<br>
                <a href="http://www.jkhub.net/">JK Editing Hub</a><br>
                <a href="http://millennium.massassi.net/">Millennium</a>: Cog Resource<br>
                <a href="http://rbots.massassi.net/">Rbots</a>: JK/Mots Bots
            </div>
        </div>

        <div id="feature-sotd">
            <div class="feature-title-small">Screenshot of the Day</div>
            <div class="feature-content">
                {% if sotd %}
                    <a href="{% url "sotd:sotd" sotd.pk %}">
                        <img src="{{ sotd.thumbnail.url }}" alt="SotD for {{ sotd.sotd_date }}" height=150 width=200
                            class="sotdimage"/></a>
                    <div class="caption">
                        {{ sotd.title }}<br>
                        <em>{{ sotd.description }}</em><br>
                        <a href="/sotd/">Archives</a>
                    </div>
                {% else %}
                    <div class="caption">No SotD in the database.</div>
                {% endif %}
            </div>
        </div>

        <div id="feature-button">
            <p><a href="/what/">What is this place?</a></p>
            <a href="https://forums.massassi.net/vb3/showthread.php?68227-Official-Massassi-Discord">
                <img src="/static/images/msdiscord4.png" height="35" width="89" border=1
                             alt="Join the Discord [Button by Kir Kanos]"></a>
                             &nbsp;
            <a href="/"><img src="/static/images/mas_but2.gif" height="36" width="90"
                             alt="Link to Us! [Button by Rieekan]"></a>
        </div>

        <div id="feature-lotw">
            <div class="feature-title-small">Level of the Week</div>
            <div class="feature-content">
                {% if lotw %}
                    <a href="{% url 'levels:level' lotw.level_id %}">
                        <img src="{{ lotw.level.thumbnail_1.url }}" alt="LotW for {{ lotw.lotw_time|date:"Y-m-d" }}" height="150" width="200" class="lotwimage" />
                    </a>
                    <div class="caption">{{ lotw.level.name }}<br><a href="/lotw/">Archives</a></div>
                {% else %}
                    <div class="caption">No LotW in the database.</div>
                {% endif %}
            </div>
        </div>
    </div>

    <p id="testimonial"><em>BTW: Massassi is the best web site in the history of the universe!</em> - Otterbine</p>

    {% include "news/news_list.html" %}
{% endblock %}
