{% if news %}
    {% if page_obj.number > 1 and paginator %}
        {% include "news/news_pager.html" %}
    {% endif %}

    {% for post in news %}
        {% ifchanged post.news_date %}
            <h1 class="news-date" style="margin-top: 0px;">{{ post.news_date|date:"l, F j, Y" }}</h1>
        {% endifchanged %}

        <a name="news-item-{{post.id}}"></a>
        <div class="news-block">
            <div class="news-headline">{{ post.headline|safe }} -
                <span class="news-author">{{ post.user.username }} @ {{ post.date_posted|date:"g:i A" }}</span>
            </div>
            <div class="news-body">{{ post.story|safe }}</div>
        </div>
    {% endfor %}

    {% if paginator %}
        {% include "news/news_pager.html" %}
    {% endif %}
{% else %}
    <p>No news found.</p>
{% endif %}
