{% extends "outer.html" %}

{% block content %}
    <h1>{% block title %}Screenshot of the Day Archives{% endblock %}</h1>

    {% if sotd_list %}
        {% include "sotd/pager.html" %}

        <div class="sotd-grid-container">

        {% for sotd in sotd_list %}
            <div class="sotd-list-entry-image">
                <a href="{% url 'sotd:sotd' sotd.id %}"><img class="sotd-list-thumbnail" src="{{ sotd.thumbnail.url }}" /></a>
            </div>

            <p class="sotd-list-description">
                {{ sotd.sotd_date }}<br>
                By: {{ sotd.author }}<br>
                <strong>{{ sotd.title }}</strong><br>
                {{ sotd.description }}
            </p>
        {% endfor %}

        </div>

        {% include "sotd/pager.html" %}
    {% else %}
        <p>No Screenshots of the Day are available.</p>
    {% endif %}
{% endblock %}
