{% extends "outer.html" %}

{% block content %}
    <h1>{% block title %}Screenshot of the Day Archives{% endblock %}</h1>

    <p>Screenshots of the day are chosen by staff members from posts on our
    <a href="https://forums.massassi.net/vb3/forumdisplay.php?12-Showcase">Showcase forum</a>.
    As you can see, we no longer update this daily but it might still be fun to scroll through
    the old screenshots.</p>

    {% if sotd_list %}
        {% include "simple_pager.html" %}

        <div class="sotd-grid-container">

        {% for sotd in sotd_list %}
            <div class="sotd-list-entry-image">
                <a href="{% url 'sotd:sotd' sotd.id %}"><img class="sotd-list-thumbnail" src="{{ sotd.thumbnail.url }}" /></a>
            </div>

            <p class="sotd-list-description">
                {{ sotd.sotd_date }}<br>
                By: {{ sotd.author }}<br>
                <strong>{{ sotd.title }}</strong><br>
                {{ sotd.description }}
            </p>
        {% endfor %}

        </div>

        {% include "simple_pager.html" %}
    {% else %}
        <p>No Screenshots of the Day are available.</p>
    {% endif %}
{% endblock %}
