{% extends "outer.html" %}

{% load filters %}

{% block content %}
    <h1>{% block title %}{{ category.name|pluralize_string }}{% endblock %}</h1>

    <p class="crumb">
        <a href="/">The Massassi Temple</a> &raquo;
        <a href="/levels/">Levels/Mods</a> &raquo;
        <a href="{% url 'levels:category' category.path %}">{{ category.name|pluralize_string }}</a>
    </p>

    {% if levels %}
        {% include "simple_pager.html" %}

        <div class="level-list-grid-container">
        {% for level in levels %}
            <div class="level-list-screenshot">
                <a href="{% url 'levels:level' level.pk %}">
                    {% if level.screenshot_1 %}
                        <img src="{{ level.thumbnail_1.url }}" border=1>
                    {% else %}
                        <div class="no-screenshot-available">
                            No Screenshot Available
                        </div>
                    {% endif %}
                </a>
            </div>
            <div class="level-list-item">
                <strong><a href="{% url 'levels:level' level.pk %}">{{ level.name }}</a></strong><br>
                <span class="mute">By:</span> {{ level.author }}<br>
                <span class="mute">Added:</span> {{ level.created_at|date:"Y-m-d" }}<br>
                <!-- <a href="{% url 'levels:level_download' level.pk %}">Download</a><br> -->
            </div>
            <div class="level-list-details">
                <span class="mute">Rating:</span>
                {% if level.rate_count > 0 %}
                    <strong>{{ level.rating|color_rating|safe }}</strong>
                {% else %}
                    n/a
                {% endif %}
                <span class="mute">({{ level.rate_count }} vote{{ level.rate_count|pluralize }})</span><br>
                <span class="mute">Comments: {{ level.comment_count }}</span><br>
                <span class="mute">Downloads:</span> {{ level.dl_count }}
            </div>
        {% endfor %}
        </div>

        {% include "simple_pager.html" %}
    {% else %}
        <p>No levels are available.  (this is probably a bug... email us)</p>
    {% endif %}

{% endblock %}
