{% extends "outer.html" %}

{% load filters %}

{% block content %}
    <h1>{% block title %}{{ level.name|safe }}{% endblock %}</h1>

    {% include "levels/level_crumb.html" %}

    <meta http-equiv="Refresh" content="2; URL={{ level.file.url }}">

    <p style="margin: 1em;">Your download should begin automatically in 2 seconds. If it doesn't, please <a
            href="{{ level.file.url }}">click here</a>.</p>

    <p style="margin: 1em;"><strong>Error Message?</strong> If you get an error 404, File Not Found, please email us with the EXACT resource you're trying to download.</p>
{% endblock %}
