{% extends "outer.html" %}

{%  load filters %}

{% block content %}
    <h1>{% block title %}Levels/Maps/Mods{% endblock %}</h1>

    <ul>
        <li><a href="/submit/">Submission Instructions</a></li>
        <li><a href="/jediknight/howto.html">Level/Mod Installation Instructions</a></li>
    </ul>

    <h2>Search</h2>

    <p>The following form will search level name, level description, author
        name, level file name, etc. It does not search comments!</p>

    <div class="form-container-inline">
        <form method="get" action="{% url 'levels:search' %}">
        <input type="text" name="terms" required id="id_terms" placeholder="search terms">
        <button type="submit">Search</button>
    </form>

    {% if categories %}
        {% for game, game_title in games.items %}
            <h2>{{ game_title }}</h2>

            <div class="level-category-grid-container">
                {% for category in categories %}
                    {% if category.game == game %}
                        <div class="level-category-grid-item">
                            <strong>
                                <a href="{% url 'levels:category' category.path %}">
                                    {{ category.name|pluralize_string }}
                                </a>
                            </strong>
                        </div>
                        <div class="level-category-grid-count">
                            {{ category.level_count }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

        <div class="level-category-grid-container level-category-grid-total">
            <div class="level-category-grid-item"><strong>Total:</strong></div>
            <div class="level-category-grid-count">{{ categories|sum_column:"level_count" }}</div>
        </div>
    {% else %}
        <p>No Categories are available.  (this is probably a bug... email us)</p>
    {% endif %}

{% endblock %}
