{% extends 'outer.html' %}

{% block content %}
    <h1>{% block title %}{{ level.name }} - Add Rating{% endblock %}</h1>

    <p class="crumb">
        <a href="/">The Massassi Temple</a> &raquo;
        <a href="/levels/">Levels/Mods</a> &raquo;
        <a href="{% url 'levels:category' level.category.path %}">{{ level.category.name }}</a> &raquo;
        <a href="{% url 'levels:level' level.pk %}">{{ level.name }}</a>
    </p>

    <p>If you've previously rated this level/mod, your rating will be updated.</p>

    <div class="form-container">
        <p><span class="required"></span> denotes a required field.</p>

        <form method="post">
            {% csrf_token %}
            {% for field in rating_form %}
                {{ field.label_tag }}
                {% for error in field.errors %}
                    <div class="field-error">{{ error }}</div>
                {% endfor %}
                {{ field }}
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
