{% extends "outer.html" %}

{% block content %}
    <h1>{% block title %}Holiday Logo Contest{% endblock %}</h1>

    {% include "holiday/holiday_crumb.html" %}

    <p>For many years we ran a holiday logo "contest."  Any festive logo that
        met the requirements would be featured here and rotated on the main
        page in November, December, and some of January.  Here is a history
        of everything that was accepted.</p>

    {% if years %}
        <table class="news-oldnewstable">
            <thead>
            <tr>
                <th>Year</th>
                <th>Logos</th>
            </tr>
            </thead>

            <tbody>
            {% for year in years %}
                <tr>
                    <td><a href="{% url 'holiday:year' year.the_year %}">{{ year.the_year }}</a></td>
                    <td align="right">{{ year.the_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
