{% extends "outer.html" %}

{% block content %}
    <h1>{% block title %}Holiday Logo Contest - {{ year }}{% endblock %}</h1>

    {% include "holiday/holiday_crumb.html" %}

    <p><a href="{% url 'holiday:enter' %}">Enter the current contest!</a></p>

    <table class="news-oldnewstable">
        <thead>
        <tr>
            <th>Logo</th>
            <th>Author</th>
        </tr>
        </thead>

        <tbody>
        {% for logo in logos %}
            <tr>
                <td><img src="{{ logo.logo.url }}"></td>
                <td>{{ logo.author }}</td>
            </tr>
        {% empty %}
            <tr><td colspan=2><em>No logos to display</em></td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
